<div class="home-container">
    <h2>Welcome to iMatch!</h2>

    <h4>The efficient way to form class groups using Google Maps API </h4>

    <h4>If you are a student:</h4>
    <p>iMatch allows you to create a user profile and uses Google Maps API to put you
        a group with your fellow classmates who are in close proximity. It allows you to enter your availability to meet
        up with other students who are also free during your availability.
    </p>

    <h4>If you are a professor:</h4>
    <p>iMatch allows you to create your course and set a max group size for your students.
        It then displays the groups in which your students have been placed and gives you
        the ability to sort them!
    </p>

    <br>

    <ul>
        <li>Register <a href="http://localhost:3000/register">here.</a></li>
        <li>Already have an account? Login <a href="http://localhost:3000/login">here.</a></li>
    </ul>
</div>