<div class="home-container">
    <h2>Welcome to iMatch!</h2>

    <h4>The efficient way to form class groups using Google Maps API </h4>

    <h4>If you are a <span class="role">student</span>:</h4>
    <p>iMatch allows you to create a user profile and uses Google Maps API to put you
        a group with your fellow classmates who are in close proximity. It allows you to enter your availability to meet
        up with other students who are also free during your availability.
    </p>

    <h4>If you are a <span class="role">professor</span>:</h4>
    <p>iMatch allows you to create your course and set a max group size for your students.
        It then displays the groups in which your students have been placed and gives you
        the ability to sort them!
    </p>

    <br>
    <p id="register-link"> New to iMatch? <a href="http://localhost:3000/register"> Click Here</a> to Register
    

    <div>
        <form action="/login" method="get" id="login-form">
            <label for="login-button">Already have an account?
                <input id="login-button" type="submit" value="Login" />
            </label>
        </form>
    </div>
</div>