<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
  <header>
    <h1>iMatch</h1>
  </header>

  <main>
    <div class="main-container">
      {{{ body }}}
    </div>
  </main>

  <footer>
    <p>Group YPC</p>
  </footer>

</body>

</html>