<main>
<div>
//need to display user information here
 {{#each data}}
  <ul>
  	<li>{{this.firstname}}</li>
	<li>{{this.lastname}}</li>
 </ul>
	<a href="/logout">Log Out</a>
	<a href="/edit>Edit your Profile</a>
</div>
</main>
