<div class="form-container">
        <h2>Register!</h2>
        <!-- Simple form that will send a POST request to /dashboard page if user successfully logs in-->
        <form action="/register/signup" method="post" id="register-form">
            <label for="username"> UserName:
                <input id="username" type="text" name="username" />
            </label>
            <br>
            <label for="password"> Password:
                <input id="password" type ="password" name="password" />
            </label>
            <br>
            <label for="firstname"> First Name:
                <input id="firstname" type="text" name="firstname" />
            </label>
            <label for="lastname"> Last Name:
                <input id="lastname" type="text" name="lastname" />
            </label>
            <br>
            <label for="email"> Email:
                <input id="email" type="email" name="email" />
            </label>
            <br>
            <label for="phone"> Phone Number:
                <input id="phone" type="text" name="phone" />
            </label>
            <br>
            <label for="role"> Role:
                <input id="role" type="radio" value="student" name="role"/>Student
                <input id="role" type="radio" value="professor" name="role"/>Professor
            </label>
            <br>
            <label for="zipcode"> Zip Code:
                <input id="zipcode" type="text" name="zipcode" />
            </label>
            <br>

            <label for="availability"> Availability:</label>
            <br>            
            <input id="Sunday" type="checkbox" value="Sunday" name="availability"/>
            <label for="Sunday">Sunday</label>
            
            <input id="Monday" type="checkbox" value="Monday" name="availability"/>
            <label for="Monday">Monday</label>

            <input id="Tuesday" type="checkbox" value="Tuesday" name="availability"/>
            <label for="Tuesday">Tuesday</label>
            
            <input id="Wednesday" type="checkbox" value="Wednesday" name="availability"/>
            <label for="Wednesday">Wednesday</label>

            <input id="Thursday" type="checkbox" value="Thursday" name="availability"/>
            <label for="Thursday">Thursday</label>

            <input id="Friday" type="checkbox" value="Friday" name="availability"/>
            <label for="Friday">Friday</label>

            <input id="Saturday" type="checkbox" value="Saturday" name="availability"/>
            <label for="Saturday">Saturday</label>
            <br>
       

            <br>
                <input type="hidden" name="latitude" id="latitude"/>
                <input type="hidden" name="longitude" id="longitude"/>
            <label for="register-button">
                <input id = "register-button" type ="submit" value ="Register" />
            </label>
        </form>
        <p>Upon successful registration, you will be redirected to the login page where you will login with your new username and password!</p>
        <p id ="error">{{error}}</p>
</div>
